# Firebase Public Client Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDhLw_vgVifS3tPfB9jAIjFyiTur1dRHZo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=akun-psak.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=akun-psak
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=akun-psak.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=259161627360
NEXT_PUBLIC_FIREBASE_APP_ID=1:259161627360:web:e32561ef6ff9138f8fce85
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-RFXZXNPHTT

# App Base URL
NEXT_PUBLIC_APP_URL=https://akun.psak.my.id
